*{
    margin: 0 ;padding: 0;
}
#box{
    color: #606265;
    background: #e9ebf0;
}
input{
    color: #606265;
    line-height: 45px;
}
ul,li{
    list-style: none;    
}
input{
    border:1px solid #c2c2c2;;
}

/* top */
    .top{
        width: 100%;
        height: 385px;
        background: #4a79ff url(../img/back1.png) 0 260px repeat-x;
        padding: 45px 0;
    }
    .centerBack{
        width: 100%;
        height: 680px;
        background: #e9ebf0;
    }
/* center */
    .center{
        width: 100%;
        position: absolute;top: 100px;left: 0;z-index: 10;
    }
    .top_center{
        width: 1200px;
        margin: 45px auto;
        overflow: hidden;
    }
    .top_left{
        width: 60px;
        height: 254px; 
        float: left;
    }
    .top_right{
        float: right;
    }
    .top_left_inner{
        width: 22px;
        padding: 15px 19px;
        height: 97px;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        background: #365dcc;
        font-weight: 500;
        text-decoration: none;
        display: block;
        color: #fff;
    }
    .top_left_select{
        color: #365dcc;
        background: #fff;
    }
    .top_left_select0:hover{
        background: #3a67e7;
        color: #fff;
    }
    .topInner{
        width: 1100px;
        /* height: 1000px; */
        padding-bottom: 50px; 
        background: #fcfcfc;
        overflow: hidden;
    }
    .topInner figcaption{
        width: 100%;
        height: 60px;
        text-indent: 60px;
        line-height: 60px;
        font-size: 28px;
        color: #003a70;
        background: url(../img/icon12.png) 20px 20px no-repeat;
    }
    .topInner figure{
        margin-left: 30px;   
    }
    .top_right p{
        margin: 10px 0px 0px 60px;
        color: #4e8cee;
        font-size: 20px;
    }
    .top_right p span:first-child+span{
        margin-right: 20px;
        cursor: pointer;
    }
    .top_right p span:first-child+span+span{
        cursor: pointer;
    }
    .cenInnerLeft{
        float: left;
    }
    .cenInnerRight{
        float: right;
    }
    
/* center——end*/
    .top_right figure{
        width: 90%;
        /* height: 660px; */
        margin: 30px auto;
    }
    .top_right figure li{
        width: 100%;
        height: 130px;
        overflow: hidden;
    }
    .top_right figure li img{
        width: 84px;
        height: 84px;
        margin: 22px 35px;
        float: left;
    }
    .center_inner{
        width: 570px;
        /* height: 120px; */
        padding: 10px 0;
        float: left;
        font-size: 18px;
        line-height: 35px;
        overflow: hidden;
    }
    .center_inner_right{
        width: 240px;
        height: 120px;
        margin-top: 10px;
        float: right;
    }
    .cen_Right_money{
        font-size: 30px;
       font-family:Lobster;
       color: #fa1616;
       text-align: center;
       letter-spacing: 3px;
    }
    .center_inner_right button{
        width: 160px;
        height: 40px;
        line-height: 40px;
        display: block;
        margin: 10px auto 0;
        border:1px solid red;
        background: #4e8cee;
        text-align: center;
        outline: none;
         border:none;
        color: #fff;
        font-size: 16px;
        list-style: none;
        cursor:pointer;
        border-radius: 22px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -o-border-radius: 22px;
        -ms-border-radius: 22px;
    }
    .center_inner_right button:hover{
        font-size: 18px;
        letter-spacing: 5px;
    }
    .top_right figure li:hover{
        border: 2px solid #e6e8ea;
    }

/* 设置——弹窗TBox */
    .nav_Top{
        position: relative;
    }
    .TBox{
        width: 196px;
        height: 167px;
        padding-top: 0px;
        background: url(../img/icon21.png) 0 0 no-repeat;
        position: absolute;top:60px;right: 0;z-index: 999;
        overflow: hidden;
        display: none;
    }
    .tBoxIn1{
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 14px;
        text-align: center;
        float: right;
        margin:25px 5% 0 0;
        color: #003a70;
        border:1px solid #003a70;
        cursor: pointer;
    }
    .tBoxIn1:hover{
        color: #fff;
        background: #003a70;
    }
    .TBox h5{
        width: 75%;
        margin:0 auto 10px;
    }
    .TBox label{
        float: left;
    }
    .TBox input{
        width: 15px;
        height: 15px;
        display: block;
        float: left;
    }
    .tBoxIn2,.tBoxIn3,.tBoxIn4{
        width: 75%;
        height: 30px;
        margin: 0 auto;
        overflow: hidden;
    }
    .tBoxIn2{
       width: 70%;
       margin: 40px 0 0 20px; 
    }
    .btnRight div{
        width: 15px;
        height: 15px;
        background: #fff;
        margin-top:2px;
        margin-left: 5px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        behavior: url(../css/PIE.htc);
    }
    #box #TBoxBtn{
        background: #ccc;  
    }
    #box #TBoxBtn div{
        margin-left: 30px;
    }
    #box .tBoxIn2 .btnRight{
        width: 50px;
        height: 20px;
        float: left;
        
        background: #5a92db;
        cursor: pointer;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        -ms-border-radius: 10px;
        behavior: url(../css/PIE.htc);
    }
    .TBox label,.TBox input{
        float: left;
        margin-right: 10px;
    }
    
    .TBox input[type="checkbox"]{
        -webkit-appearance: none;  /*清除复选框默认样式*/
              
        vertical-align: middle;  
      }
      .tBoxIn3 input,.tBoxIn4 input{
        width: 17px;
        height: 17px;   /*高度*/
        margin-top: 3px;
        border:1px solid #5282c3;
        background: #fff; 
    }
      .TBox input[type="checkbox"]:checked{
        background:#5282c3 url(../img/icon22.png) 0 0 no-repeat;
      }








@media screen and (max-width: 1024px){
    .nav_Top{
        width: 90%;
    }
    .top{
        height: 490px;
        background: #4a79ff url(../img/back1.png) 0 363px repeat-x;
    }
    .top_center{
        width: 90%;
    }
    .top_left{
        width: 50px;
        line-height: 50px;
    }
    .topInner{
        width: 90%;
    }


    /* main */
    .top_right figure li{
        height: 200px;
    }
    .center_inner{
        width: 270px;
    }
    .cenInnerLeft,.cenInnerRight{
        float: none;
    }
    .center_inner_right{
        overflow: hidden;
        width: 24%;
        margin-top: 30px;
    }
    .inner{
        font-size: 16px;
    }
    .center_inner_right button{
        width: 100%;
    }
    .centerBack{
        height: 860px;
    }
    .top_right figure li img{
        margin: 55px 35px 22px;
    }
}
@media screen and (max-width: 1200px) and (min-width:1024px){
    .nav_Top{
        width: 90%;
    }
    .top{
        height: 490px;
        background: #4a79ff url(../img/back1.png) 0 363px repeat-x;
    }
    .top_center{
        width: 90%;
    }
    .top_left{
        width: 50px;
        line-height: 50px;
    }
    .topInner{
        width: 90%;
    }


    /* main */
    /* .top_right figure li{
        height: 200px;
    } */
    .center_inner{
        width: 440px;
    }
    /* .cenInnerLeft,.cenInnerRight{
        float: none;
    } */
    .center_inner_right{
        width: 150px;
        overflow: hidden;
    }
    .inner{
        font-size: 16px;
    }
    .center_inner_right button{
        width: 100%;
    }
    .centerBack{
        height: 570px;
    }
}