select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;

    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background:#fbfdfe url("../img/t06.png") no-repeat scroll right center ;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 0px;
}


    /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }


/* -------------main-------------------------------------------- */
#box{
    color: #606265;
}
.center{
    width: 100%;
    height: 1000px;
    background: url(../img/back2.png) 0 0;
    overflow: hidden;
}

.inner{
    width: 90%;
    max-width: 1200px;
    min-height: 600px;
    margin: 100px auto;
    background: #fff;
    box-shadow: 0px 0px 5px 2px #e3e6e8;
    -moz-box-shadow:0px 0px 5px 2px #e3e6e8;
    -webkit-box-shadow:0px 0px 5px 2px #e3e6e8;
    -o-box-shadow:0px 0px 5px 2px #e3e6e8;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#e3e6e8', Direction=5, Strength=2); 
}
#box .cenIn3{
    width: 400px;
    height: 200px;
    margin:50px auto;
    overflow: hidden;
}
#box #prev{
    line-height: 45px;
    border: none;
    background: none;
    outline: none;
    float: left;
    color: #6b7882;
    font-size: 18px;
    cursor: pointer;
}
#box .btn {
    width: 200px;
    height: 50px;
    text-align: center;
    display: block;
    background: url(../img/t3.png) 0 0;
    font-size: 18px;
    color: #fff;
    outline: none;
    border: none;
    margin: 0 auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    behavior: url(../css/PIE.htc);
    position: relative;
    float: right;
    cursor: pointer;
}



/* table */
.cen_in{
    width: 100%;
    position: absolute;top:20px;left: 0;z-index: 3;
}

.center{
    position: relative;
}
.cen_top{
    width: 100%;
    height: 260px;
    position: absolute;top: 0;left: 0;z-index: 2;
    background:#557ff6 url(../img/back1.png) 0 bottom repeat-x;
}
.next{
    width: 200px;
    height: 50px;
    text-align: center;
    display: block;
    background: url(../img/t3.png) 0 0;
    font-size: 18px;
    color: #fff;
    outline: none;
    border: none;
    margin: 70px auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    behavior: url(../css/PIE.htc);
    cursor: pointer;
}
.inner figcaption {
    width: 100%;
    height: 60px;
    padding:30px 0px 10px;
    margin-left:50px;
    text-indent: 50px;
    line-height: 60px;
    font-size: 22px;
    color: #003a70;
    font-weight: 600;
    background: url(../img/t35.png) 20px 50px no-repeat;
}


/*---------------- 我要授权 -------------------------*/

.inner ul{
    display: block;
    width: 500px;
    height: 300px;
    margin: 60px auto 30px;
}
.inner li{
    overflow: hidden;
    margin-top: 10px;
}
.inner span,.inner li input,.inner li button{
    display: block;
    float: left;
}
.inner span{
    width: 100px;
    height: 35px;
    line-height: 35px;
}
.inner select{
    width: 320px;
    color: #606265;
}
.inner input,.inner select,.inner option{
    height: 33px;
    line-height: 33px;
    text-indent: 5px;
    font-size: 15px;
    background-color: #fbfdfe;
    border:1px solid #ccc;
    color: #606265;
}
.inner .search{
    width: 270px;
}
.search_btn{
    width: 50px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #629ae5 url(../img/search_min.png) center center no-repeat;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.search_btn:hover{
    background: #63aae4 url(../img/search_min.png) center center no-repeat;
}
.inner .accountName,.inner .phone{
    width: 300px;
    font-size: 15px;
}
.inner .validate_int{
    width: 150px;
}
.inner .validate_btn{
    width: 165px;
    margin-left: 5px;
    height: 35px;
    line-height: 35px;
    background: #629ae5;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius:5px;
}
.inner .validate_btn:hover{
    background: #63aae4;
}
.inner .confirm{
display: block;
width: 120px;
height: 35px;
line-height: 35px;
outline: none;
border: none;
color: #fff;
font-size: 16px;
background: #629ae5;
margin: 30px auto;
border-radius:5px;
cursor: pointer;
}
.inner .confirm:hover{
background: #63aae4;
}
.seletbox{
    width: 350px;
    float: left;
}
.seletbox input{
    height: 35px;
    margin-right: 3px;
}