*{
    margin: 0;padding: 0;border:none;
}
a{text-decoration: none;}
a,img{border:0;}
li{list-style-type:none;}
#box{
    width: 100%;
    min-width: 1024px;
    height:1000px;
    border:none;
    position: relative; 
    background: url(../img/index.png) 0 0 no-repeat;
    background-size:100% 100%; 
}
/* nav */
    .top_right{
        height: 40px;
        line-height: 40px;
        color: #ee5f47;
        float: left;
        position: absolute;left:35%;top:0;z-index: 33;
    }
    nav{
        width: 100%;
        height: 40px;
        background: #304b65;  
    }
    .title{
        width: 1200px;
        height: 40px;
        margin: 0 auto;
        line-height: 40px;
        color: #fff;
        font-size: 15px;
        background: url(../img/logo0.png) 0 center no-repeat;
        overflow: hidden;
    }
    .title a{
        width: 300px;
        height: 40px;
        display: block;
        text-indent: 80px;
        float: left;
        color: #fff;
    }
    .title span{
        float: right;
        margin-left:30px;
        cursor: pointer;
    }
/* header */
    header{
        width: 100%;
        height: 100px;
        background: #e9edf5;
    }
    .top{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    .top img{
        float: left;
        margin:20px;
    }
    .top .header_top{
        float: left;
        margin-top: 20px;
        color: #002141;
    }
    .header_top p:first-child{
        font-size: 24.5px;
        font-weight: 500;
        font-family: SimHei,黑体;
        line-height: 40px;
    }
    .header_top p:first-child+p{
        font-family: KaiTi,楷体;
        line-height: 20px;
        font-size: 15px;
    }
    .center{
        width: 100%;
        /* height:780px; */
    }
    .inner{
        width: 1200px;
        /* min-width: 1024px; */
        margin: 6% auto 0;
        height: 600px;
        overflow: hidden;
    }
/* inner_left */
    .inner .left{
        float: left;
        width: 550px;
        height:400px;
        margin-top: 40px;
    }
    .inner .left ul{
        width:100%;
        overflow: hidden;
    }
    .inner .left li{
        width: 210px;
        height: 55px;
        line-height: 55px;
        text-indent: 90px;
        margin: 15px 0;
        background: url(../img/b1.png) -20px 0px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius:6px;
        -ms-border-radius: 6px;
        behavior:url(../css/PIE.htc);
        position: relative;
    }
    .inner .left li a{
        width: 100%;
        height: 100%;
        display: block;
        color: #fff;
    }
    .pic1 a{
        background: url(../img/pic1.png) 50px center no-repeat;
    }.pic2 a{
        background: url(../img/pic2.png) 50px center no-repeat;
    }.pic3 a{
        background: url(../img/pic3.png) 50px center no-repeat;
    }.pic4 a{
        background: url(../img/pic4.png) 45px center no-repeat;
    }.pic5 a{
        background: url(../img/pic5.png) 45px center no-repeat;
    }.pic6 a{
        background: url(../img/pic6.png) 50px center no-repeat;
    }.pic7 a{
        background: url(../img/pic7.png) 55px center no-repeat;
    }.pic8 a{
        background: url(../img/pic8.png) 50px center no-repeat;
    }.pic9 a{
        background: url(../img/pic19.png) 50px center no-repeat;
    }
    .pic10 a{
        background: url(../img/pic9.png) 50px center no-repeat;
    }
    .pic11 a {
        background: url(../img/t33.png) 50px center no-repeat;
    }
    .pic12 a{
        background: url(../img/a33.png) 50px center no-repeat;
    }
    .pic13 a {
        background: url(../img/a34.png) 50px center no-repeat;
    }
    .pic1,.pic3,.pic5,.pic7,.pic11,.pic13,.pic10{
        float: left;
    }
    .pic2,.pic4,.pic6,.pic8,.pic9,.pic12{
        float: right;
    }
/* inner_right _密码登录*/
    .right{
        width: 280px;
        height: 260px;
        float: right;
        padding:30px 40px;
        background: #c7e1fe;
        margin-top: 85px;
        margin-right: 10px;
        box-shadow:2px 0px 8px 0px #b7c5c9;
        position: relative;
        display: none;
    }
    .show1{
        display: block;
    }
    .qr_code{
        position: absolute;top: 0;right: 0;
        cursor: pointer;
        padding: 5px;
    }
    .right_title{
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        color: #134069;
    }
    .right li{
        width: 100%;
        height: 40px; 
        margin: 15px auto; 
        color: #96a2b2;
    }
    .right .name input{
        background: #eaf3fe url(../img/pic11.png) 0 0 no-repeat;
    }
    .right .password input{
        background: #eaf3fe url(../img/pic12.png) 0 0 no-repeat;
    }
    .right li input{
        width: 100%;
        height: 100%;
        line-height: 40px;
        text-indent: 85px;
        color: #4d5663;
    }
    .right li input::-webkit-input-placeholder{
        color: #8b9eb8;
    }
    .right li input::-o-placeholder{   /* Mozilla Firefox 19+ */
        color: #8b9eb8;
    }
    .right li input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
        color: #8b9eb8;
    }
    .right li input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
        color: #8b9eb8;
    }
    .right .right_in{
        overflow: hidden;
        height: 20px;
        line-height: 20px;
        margin: 0 auto;
    }
    .right_in a{
        display: block;
        color: #8b9eb8;
        font-size: 12px;
    }
    .right_in a:hover{
        color: #1173cc;
    }
    .right_in a:first-child{
        float: left;
    }
    .right_in a:first-child+a{
        float: right;
    }
    .right .btn{
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-indent: 0;
        background: #96a2b2;
        border: none;
        outline: none;
    }
    .btn:hover{
        background: #1173cc;
    }

/* 扫码登录 */
    .scancode{
        width: 190px;
        height: 180px;
        margin: 0px auto;
        padding: 10px 0px 5px;
        background: #fcfcfc;
    
    }
    .scancode img{
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto 10px;
    }
    .scancode p{
        font-size: 13px;
        text-align: center;
        color: #134069;
    }
    .registered{
    width: 150px;
    margin: 10px auto;
    text-align: center;
    font-size: 12px;  
    }
    .registered a{
        color: #1164d8;
        
    }
    .registered a:hover{
        color: #f7a544;
    }

/*办理动态，新闻消息  */
#demo{
    height: 280px;
    overflow: hidden;
}
    #news{
        width: 360px;
        height: 345px;
        float: right;
        padding:0;
        /* padding-bottom: 20px; */
    }
    .newstitle{
        width: 100%;
        height: 40px;
        background: url(../img/t19.png) 30px center no-repeat;
        line-height: 40px;
        text-indent: 50px;
        font-size: 18px;
        border-bottom: 2px solid #bdd6f1;
    }
    #news .newss{
        width: 300px;
        height: 280px;
        margin: 5px auto;
        font-size: 15px;
        overflow: hidden;
        
    }
    #news .dynamic{
        padding:3px 8px;
        margin-right: 15px;
        color: #fff;
        border-radius: 5px;
    }
    #news .newsred{
        background: #fe3a14;
    }
    #news .newsblue{
        background: #3083e7;
    }
    #news .newsgreen{
        background: #0eab51;
    }
    #news li{
        width: 100%;
        height: 30px;
        margin: 5px auto;
        color: #142c4d;
    }
    #news li span{
        line-height: 30px;
    }


/* footer */
    .footer{
        position: absolute;bottom:0px;
        overflow: hidden;
    }



/* ----------------Ukey_sign_in---------------- */
.sign_in{
    overflow: hidden;
    margin-bottom: 20px;
}
.sign_in span{
    width: 50%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    /* padding: 5px 10px; */
    display: block;
    float: left;
    cursor: pointer;
}
.sign_in span:first-child{
    border-bottom: 2px solid #427fd1;
}
.ukey_sign_in{
    width: 100%;
    height:200px;
    display: none;
}
.ukey{
    width: 100%;
    margin: 50px auto 50px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    text-indent: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #60a2ee url(../img/icon_u.png) 70px center no-repeat;
}
.ukey:hover{
    background: #2c85ec url(../img/icon_u.png) 70px center no-repeat;
}

.updown{
    width:200px;
    height: 30px;
    line-height: 30px;
    background: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: #8b9eb8;
    outline: none;
    border: none;
}
.updown:hover{
    color: #1173cc;
}


.binding{
    text-align: center;
    margin: 90px auto 0px;
    font-size: 16px;
    color: #8b9eb8;
}
.binding span{
    color: #2c85ec;
    cursor: pointer;
}
.message{
    width: 360px;
    padding: 30px 0px;
}
.message p{
    border-bottom:2px solid #427fd1;
}
.message ul{
    margin-top: 15px;
}
.message ul li{
    width: 280px;
    height: 40px;
    line-height: 40px;
    border: none;
    margin: 10px auto;
}
.message ul li input{
    font-size: 15px;
}
.message ul li:first-child input{
    text-align: left;
    text-indent: 35px;
    background:#eaf3fe url(../img/username.png) 8px center no-repeat;
}
.message ul li:first-child+li input{
    text-align: left;
    text-indent: 35px;
    background:#eaf3fe url(../img/phone.png) 10px center no-repeat;
}
.message .num_code{
    overflow: hidden;
}
.message .num_code .val{
    display: block;
    width: 140px;
    height: 40px;
    background: #e1e7f0;
    text-align: center;
    float: left;
    font-size: 15px;
    color: #616a76;
    cursor: pointer;
    text-indent: 0px;
    outline: none;
}
.message .num_code .val:hover{
    background: #d0dcee;
}
.message .num_code .textMember{
    display: block;
    width: 130px;
    height: 40px;
    background: #eaf3fe;
    text-align: center;
    float: right;
    text-indent: 0px;
}
.phone_bd{
    display: block;
    width:280px;
    height: 40px;
    line-height: 40px;
    background: #96a2b2;
    margin: 15px auto 0px;
    border:none;
    outline: none;
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
}
.phone_bd:hover{
    background: #8798af;
}

.phone{
    width: 360px;
    padding: 30px 0px;
}
.phone p{
    border-bottom:2px solid #427fd1;
}
.phone_num{
    width: 360px;
    height: 200px;
    overflow: hidden;
    margin: 20px auto 0px;
   
}
.phone ul{
    width: 380px;
    height: 200px;
     overflow-y: auto;
}
.phone li{
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    color: #535a63;
}
.phone li:hover{
    color: #fff;
    background: #427fd1;
}



@media screen and (max-width: 1200px){
    .inner{
        width: 90%;
        margin: 15% auto 0;
    }
    .center .left{
    width: 50%;
    margin-left: 20px;
    } 
    
}
