body,html,div，section,p,li,ul,ol{
    margin: 0 ;padding: 0;font-size: 18px;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;border: none;
}
#box{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
}
/* --------------------------------------main----------------------- */
.back_head{
    width: 100%;
    height:460px;
    background: url(../img/x2.png) 0 0 no-repeat;
    position: absolute;z-index: 2;
    background-size:cover;
}
.back_head img{
    width: 437px;
    height: 172px;
    margin: 190px auto 0;
    display: block;
}
.header_tit{
    width: 1200px;
    height: 260px;
    margin: 460px auto 0px;
    overflow: hidden; 
}
.header_tit a{
    display: block;
    float: left;
    width: 25%;
    height:120px;
    line-height: 120px;
    padding: 120px 0 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.gs_register{
    background: #80ba4a url(../img/x4.png) center 75px no-repeat;
}
.ku_bank{
    background: #f3b548 url(../img/x5.png) center 75px no-repeat;
}.kz_public{
    background: #288fd2  url(../img/x6.png) center 75px no-repeat;
}.tax_account{
    background: #6bd6f4 url(../img/x7.png) center 75px no-repeat;
}

/* -----------------------------------------news------------------------------------------------ */
#news{
    width: 1200px;
    height: 550px;
    margin: 40px auto;
}
#news p{
    margin: 0 auto;
    width: 270px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
} 
#news p:first-child{
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 30px;
    background: url(../img/x8.png) 0 bottom no-repeat;
}
#news p:first-child+p{
    height: 30px;
    line-height: 30px;
    color: #126cd1;
}
.news_main{
    width: 100%;
    overflow: hidden;
    margin: 50px auto 0;
}
.news_main img{
    float: left;
    display: block;
    width:570px;
    height: 398px;
}
.news_right{
    width: 580px;
    height: 400px;
    float: right;
}
.achieve{
    width: 100%;
    height: 398px;
    background: url(../img/x10.png) 0 0 no-repeat;
    background-size:cover;
}
.ach_back{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.ach_back p{
    margin: 80px auto 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 3;
    font-weight: 600;
}
.ach_back ul{
    width: 100%;
    height: 100%;
}
.ach_back ul li{
    width: 140px;
    height: 80px;
    padding-left: 100PX;
    padding-top: 20px;
    color: #fff;
    overflow: hidden;
}
.ach_back ul li:first-child{
    float: left;
    background: url(../img/x11.png) 0 center no-repeat;
}
.ach_back ul li:first-child+li{
    float: left;
    margin-left: 280px;
    background: url(../img/x12.png) 0 center no-repeat;
}
.ach_back ul li:first-child+li+li{
    float: right;
    background: url(../img/x13.png) 0 center no-repeat;
}
.ach_back ul li span{
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
}
.ach_back ul li span:first-child{
    font-size: 30px;
    font-weight: 600;
}

/* --------------------------service------------------------------------- */
#service{
    width: 1200px;
    height: 470px;
    margin: 40px auto;
}
#service p{
    margin: 0 auto;
    width: 270px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
} 
#service p:first-child{
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 30px;
    background: url(../img/x8.png) 0 bottom no-repeat;
}
#service p:first-child+p{
    height: 30px;
    line-height: 30px;
    color: #126cd1;
}
.servic_tit{
    width: 1200px;
    height: 300px;
    margin: 50px auto 0px;
    overflow: hidden; 
}
.servic_tit a{
    display: block;
    float: left;
    width: 270px;
    height:300px;
    line-height: 300px;
    text-align: center;
    cursor: pointer;
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.law{
    background: url(../img/x14.png) 0 0 no-repeat;
}
.agency{
    margin: 0 40px;
    background: url(../img/x15.png) 0 0 no-repeat;
}.bidding{
    margin-right: 40px;
    background: url(../img/x16.png) 0 0 no-repeat;
}.archives{
    background: url(../img/x17.png) 0 0 no-repeat;
}

/* news */
#news .news_tip{
    margin-top: 10px;
}
#news .news_tip span{
    padding: 8px 40px;
    border:1px solid #ccc; 
    margin-right: 30px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    behavior: url(../css/PIE.htc);
}
#news .news_tip span:hover{
    border:1px solid #2a78d4;
    color: #2a78d4;
}
#news .news_tip .select{
    border:1px solid #2a78d4;
    color: #2a78d4;
}
.news_right ul{
    margin-top: 40px;
    display: none;
}
#newsShow{
    display: block;
}
.news_right ul li{
    background:url(../img/x24.png) 0 center no-repeat;
    line-height: 40px;
    height: 40px;
    text-indent: 20px;
}
.news_right ul a{
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
}
.news_right ul li a span:first-child+span{
    float: right;
}
.news_right ul a:hover{
    color:#ff0000;
}

/* ------------------------sign up --------------------------- */

/* 弹窗 */
#HBox{
    display: none;
}
.signUp{
    width:400px;
    height: 300px;
    padding: 45px 45px;
    background: #fff;
    position: fixed;top: 50%;left: 50%;z-index: 999;
    margin:-195px 0 0 -245px;
    box-shadow:2px 0px 8px 0px #b7c5c9;
    border-radius: 2px;
    display: none;
  }
  #col{
    width: 100%;
    height: 100%;
    display: none;
    position:fixed;top: 0;left: 0;z-index: 99;
    background:rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);  
  }
  /* ------------密码登录---------------------------- */
.qr_code{
    position: absolute;top: 0;right: 0;
    cursor: pointer;
    padding: 5px;
}
.sign_title{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #042b71;
}
.sign_in{
    overflow: hidden;
    margin-bottom: 30px;
}
.sign_in span{
    width: 50%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    display: block;
    float: left;
    cursor: pointer;
}
.sign_in span:first-child{
    border-bottom: 1px solid #042b71;
}



#HBox .pass_sign_in li{
    width: 100%;
    height: 40px; 
    margin: 20px auto; 
    color: #042b71;
}
#HBox .name input{
    background: url(../img/x25.png) 10px center no-repeat;
}
#HBox .password input{
    background: url(../img/x26.png) 10px center no-repeat;
}
#HBox li input{
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-indent: 40px;
    color: #042b71;
    border:1px solid #042b71;
}
#HBox li input::-webkit-input-placeholder{
    color: 999;
}
#HBox li input::-o-placeholder{   /* Mozilla Firefox 19+ */
    color: 999;
}
#HBox li input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: 999;
}
#HBox li input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color: 999;
}
#HBox .pass_sign_in .li_in{
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
.li_in a{
    display: block;
    color: #8b9eb8;
    font-size: 14px;
}
.li_in a:hover{
    color: #042b71;
}
.li_in a:first-child{
    float: left;
}
.li_in a:first-child+a{
    float: right;
}
#HBox .btn{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-indent: 0;
    background: #042b71;
    border: none;
    outline: none;
}
#HBox .btn:hover{
    background: #1173cc;
}
/*UKey登录  */
.ukey_sign_in{
    width: 100%;
    height:200px;
    display: none;
}
.ukey{
    width: 100%;
    margin: 50px auto 50px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #042b71;
}
.ukey:hover{
    background: #2c85ec;
}


.updown{
    width:200px;
    height: 30px;
    line-height: 30px;
    background: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: #8b9eb8;
    outline: none;
    border: none;
}
.updown:hover{
    color: #1173cc;
}
/* 扫码登录 */
.scan_title {
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #134069;
}
.scancode{
    margin: 0px auto;
    padding: 10px 0px 5px;
    background: #fcfcfc;
}
.scancode img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 10px;
}
.scancode p{
    font-size: 14px;
    text-align: center;
    color: #134069;
}
.registered{
    width: 170px;
    margin: 10px auto;
    text-align: center;
    font-size: 14px;  
}
.registered a{
    color: #1164d8;
    
}
.registered a:hover{
    color: #f7a544;
}

/* -------------绑定手机号-------------------- */

.binding{
    text-align: center;
    margin: 90px auto 0px;
    font-size: 16px;
    color: #8b9eb8;
}
.binding span{
    color: #2c85ec;
    cursor: pointer;
}
/* -----------------完善信息------------------- */
/* .message{
    width: 360px;
    padding: 30px 0px;
} */
.message p{
    border-bottom:2px solid #427fd1;
}
.message ul{
    margin-top: 15px;
}
.message ul li{
    height: 40px;
    line-height: 40px;
    border: none;
    margin: 20px auto;
}
.message ul li input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    border:1px solid #134069;
}
.message ul li:first-child input{
    text-align: left;
    text-indent: 35px;
    background: url(../img/x25.png) 8px center no-repeat;
}
.message ul li:first-child+li input{
    text-align: left;
    text-indent: 35px;
    background: url(../img/x27.png) 10px center no-repeat;
}
.message .num_code{
    height: 42px;
    overflow: hidden;
}
.message .num_code .val{
    display: block;
    width: 190px;
    height: 42px;
    line-height: 42px;
    background: #f0f0f0;
    text-align: center;
    float: left;
    font-size: 15px;
    color: #042b71;
    cursor: pointer;
    text-indent: 0px;
    outline: none;
    border: none;
}
.message .num_code .val:hover{
    background: #d0dcee;
}
.message .num_code .textMember{
    display: block;
    width: 190px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    float: right;
    color: #042b71;
    text-indent: 0px;
    outline: none;
    border: 1px solid #ccc;
}
.phone_bd{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #042b71;
    margin: 15px auto 0px;
    border:none;
    outline: none;
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
}
.phone_bd:hover{
    background: #2853a1;
}
/* -------------------------------number------------------------- */
.phone p{
    border-bottom:2px solid #427fd1;
}
.phone_num{
    width: 360px;
    height: 200px;
    overflow: hidden;
    margin: 20px auto 0px;
   
}
.phone ul{
    width: 380px;
    height: 200px;
     overflow-y: auto;
}
.phone li{
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    color: #535a63;
}
.phone li:hover{
    color: #fff;
    background: #427fd1;
}