/* -----------我是下拉列表默认样式--------------------------- */

select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;

    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background:#fbfdfe url("../img/t06.png") no-repeat scroll right center ;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}


    /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }





.center{
    width: 100%;
    padding-bottom: 60px;
    background: url(../img/back2.png) 0 0;
    overflow: hidden;
}
.center section{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.center .cen_title{
    margin:35px auto 0;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #003a70;
    text-indent: 65px;
    background: url(../img/t26.png) 30px center no-repeat;
    border-bottom: 2px solid #0088cf;
    overflow: hidden;
}
.center .cen_title a{
    color: #676b6d;
}
.center .cen_title a:hover{
    color: #eb6a02;
}
.center .cen_title span{
    float: right;
    font-size: 14px;
    color: #676b6d;
}
.list_title{
    width: 100%;
    background: #deebf3;
    padding: 10px 0px 10px;
    margin: 20px auto;
    float: left;
}
.list_title input{
    border: none;
    background: #fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding: 5px 10px;
    display: block;
    float: left;
    color: #888d8f;
}
.list_title .list_tit{
    margin-left: 50px;
}
.list_title .list_tit,.list_title .list_suc{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.list_title input:hover{
    border:1px solid #0088cf;
    cursor: pointer;
    color: #0088cf;
}
#box .list_title .select{
    background: #0088cf;
    color: #fff;
    
}
label{
    color: #888d8f;
    line-height: 30px;
    margin:0px 10px 0px 30px ;
    float: left;
    display: block;
}
.list_title select, .list_title option {
    margin-right: 5px;
    padding:5px 10px;
    padding-right: 0px;
    color: #606265;
    border: 1px solid #ccc;
    float: left;
    cursor: pointer;
}
.sex{
    width: 70px;
}
.address{
    width: 180px;
}




.inner{
    width: 100%;
    margin: 30px auto;
    padding-bottom: 20px;
    overflow: hidden;
}
.cen_inner{
    width: 270px;
    height: 300px;
    float: left;
    padding: 20px 0;
    margin: 30px 15px;
    background:#fff url(../img/x45.png) center 30px no-repeat;
}
.inner .cen_inner p:first-child{
    margin-top: 170px;
    
}
.inner .cen_inner p{
    text-align: center;
    line-height: 25px;
    color: #003a70;
}
.center_bottom{
    width: 600px;
    float: right;
    margin-bottom: 30px;
}










@media screen and (max-width: 1200px){
    .center section{
        width: 90%;
    }
   
}