body,html,div，section,p,li,ul,ol{
    margin: 0 ;padding: 0;font-size: 18px;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;border: none;
}
#box{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
}
/* ----------------------------main---------------------------- */
.back_head{
    width: 100%;
    height:380px;
    background: url(../img/x44.png) 0 0 no-repeat;
    background-size:cover;
    overflow: hidden;
}
.back_head .bannerTit{
    width:1200px;
    height: 75px;
    color: #fff;
    margin: 190px auto 0;
    font-weight: 500;
    background: url(../img/x29.png) 0 center no-repeat;
}
.bannerTit h1{
    margin:2px 20px;
}
.bannerTit h4{
    margin:2px 20px;
}

.location{
    height: 54px;
    border-bottom: 1px solid #ccc;
}
.location p{
    width: 1200px;
    margin: 0 auto;
    line-height: 54px;
}
.locaAs{
    color: #333;
}
.locaAs:hover{
    color: #e3720d;
}

/* -------------center---------------- */
#center{
    width: 1200px;
    margin: 50px auto;
}

.inner{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.inner li{
    width: 285px;
    height: 250px;
    margin-left: 13px;
    margin-top: 50px;
    float: left;
    border:2px solid #6bd6f4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    behavior: url(../css/PIE.htc);
}
.inner li:hover{
    margin-top: 20px;
}
.inner li:hover span{
    letter-spacing: 2px;
    font-weight: 600;
}
.inner li a{
    width: 100%;
    height: 100%;
    display: block;
}
.inner li img{
    width: 255px;
    height: 157px;
    display: block;
    margin: 15px auto;
}
.inner li:first-child{
    margin-left: 0;
}
.inner span{
    display: block;
    width: 100%;
    height: 32px;
    padding-bottom: 3px;
    line-height: 32px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    color: #333;
    background: url(../img/x40.png) bottom center no-repeat;
}
#question{
    width: 100%;
    height: 650px;
}
#question figcaption{
    height: 50px;
    line-height:50px;
    font-size: 28px;
}
#question figure{
    width: 100%;
    height: 450px;
    position: relative;
    margin:30px 0px;
    background: url(../img/x41.png) center center no-repeat;
}
#question figure p{
    width: 160px;
    padding-left: 60px;
    line-height: 60px;
    display:block;
    font-size: 16px;
    color: #333;
    position: absolute;
}
#question figure p:first-child{
    top: 80px;left: 200px;
    background: url(../img/x42.png) 0 center no-repeat;
}#question figure p:first-child+p{
    line-height: 30px;
    top: 290px;left: 200px;
    background: url(../img/x43.png) 0 center no-repeat;
}
#question figure p:first-child+p+p{
    top: 80px;left: 820px;
    background: url(../img/x43.png) 0 center no-repeat;
}
#question figure p:first-child+p+p+p{
    top: 290px;left: 820px;
    background: url(../img/x43.png) 0 center no-repeat;
}
.check{
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    background: #5b84cf;
    color: #fff;
    font-size: 22px;
    border: none;
    outline:none;
    cursor: pointer;
}