.innerRight section{
    margin-top: 10px;
    padding: 20px 0px 50px;
}
.innerRight section li{
    margin:20px 0 10px 40px;
    overflow: hidden;
    font-size: 18px;
    color: #464b52;
}
.innerRight li label,.innerRight li span,.innerRight li input{
    float: left;
}
.innerRight span{
    margin: 0 10px;
}
.choice{
    line-height: 60px;
}
.wxPay,.zfPay,.banks{
    width: 170px;
    height: 60px;
    margin: 0px 5px 10px;
    float: left;
    cursor: pointer;
}
.wxPay img,.zfPay img,.banks img{
    width: 40px;
    height: 40px;
    float: left;
    margin: 10px 0px 0px 10px;  
}
.banks img{
    width: 50px;
    height: 30px;
}
.zfPay span,.wxPay span,.banks span{
    line-height: 60px;
}
#selectPay,.wxPay:hover,.zfPay:hover,.banks:hover{
    border:2px solid #3fb3cf;
}
#selectPay img,.wxPay:hover img,.zfPay:hover img{
    width: 44px;
    height: 44px;
    margin: 8px 0px 0px 8px;
}
#box .bankPay img,.banks:hover img{
    width: 55px;
    height: 35px;
    margin: 8px 0px 0px 8px;
}
#selectPay span,.zfPay:hover span,.wxPay:hover span,.banks:hover span{
    font-size: 19px;
}
.innerRight input{
    width: 260px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
}
.innerRight li:first-child+li label,.innerRight li:first-child+li span{
    line-height: 37px;
}
.innerRight button{
    width: 170px;
    height: 50px;
    margin: 20px 0 0 160px;
    border:none;
    outline: none;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    background: url(../img/t3.png) -50px 0;
    cursor: pointer;
    position: relative;
    border-radius:13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -o-border-radius: 13px;
    -ms-border-radius: 13px;
    behavior: url(../css/PIE.htc);
}
.innerRight button:hover{
    font-size: 22px;
}

.innerRight p span{
    font-size: 18px;
    margin: 0;
}
.innerRight p span:first-child{
    margin-left: 30px;
}
.innerRight .money{
    color: #eb0042;
}
#HBox #HBox0{
    width: 100%;
    margin: 10px 0 0;
}
#HBox p{
    margin: 0;
    padding-left: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-bottom:1px solid #ccc;
}
#HBox0 .HBox2Inner{
    width: 300px;
    height: 100px;
    margin: 30px auto;
}
#HBox0 .HBox2Inner li{
    height: 40px;
}
#HBox01 p,#HBox1 p{
    padding-left: 0;
    text-align: center;
}
#HBox01 .HBox01Inner,#HBox1 .HBox01Inner{
    width: 150px;
    height: 100px;
    margin:40px auto 0;
    text-align: center;
}
#HBox01 .HBox01Inner img,#HBox1 .HBox01Inner img{
    margin: 0 auto;
    
}
#HBox #HBox0 .submitBtn{
    margin: 20px 0 0 20px;
}
#HBox #HBox01,#HBox #HBox1{
    height: 100px;
    margin:90px auto 0;
}

